
body{
    margin: 0px;
    padding: 0.5%;
    background-image: url(../images/background.jpg);
    background-size : cover;
}

nav .logo{
    color: white;
    font-style:oblique;
    font-family: 'roboto',sans-serif;
    position: fixed;
    font-size: 2.0rem;
    top: 0;
    left: 0;
    margin-left: 55px;
    display: block;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'roboto',sans-serif;
}

main .leftcontent{
    position: relative;
    width: 75%;
}

main .leftcontent p{
    margin: 0 22%;
    color: white;
    font-size: 1.5rem;
    opacity: 0.5;
}

main .leftcontent h1{
    font-size:60px;
    margin: 0 22%;
    color: white;
}

main .leftcontent #start{

    background-color: #ff0000; 
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;    
    margin: 5% 26%  0;
}
    
main .leftcontent #start:hover {
    background-color: #cc0000; 
    }
    
main .leftcontent #start:focus {
        outline: none;
    background-color: #cc0000; 
    }

main .leftcontent #start:active{
    background-color: #e44a39; 
}

main .rightcontent{
    width: 5%;
    height: 100dvh;
    margin-top: 18%;
    margin-right: 5px;
    position: absolute;
    right: 10px;
    color: rgba(255, 255, 255, 0.759);
}


@media screen and (max-width : 600px){
    body{
        object-fit: cover;
        width: 100vw;
        font-size: 0.8rem;
    }
    main .leftcontent h1{
        font-size: 2.2rem;
        margin: 0% 0% 0% 12%;
        word-wrap: unset;
    }
    main .leftcontent #start{
        font-size: 1.2rem;
        margin-top: 15%;
        border-radius: 8px;
    }
main .leftcontent #start:active {
    background-color: rgb(225, 69, 69); 
}
}
